{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社CAMPS有田川</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>森本 真輔</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>〒643-0854 和歌山県有田郡有田川町長田546-1</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>07042115114</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:sales@nomcraft.beer">sales@nomcraft.beer</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://nomcraftbrewing.bestbeerjapan.com/">https://nomcraftbrewing.bestbeerjapan.com/</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文確認後、準備が整い次第商品を発送できる様に努めます。運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>請求書払い（月末締め翌月払い）, 代金引換（佐川急便・e-コレクト®）<br>
                        住信SBIネット銀行  法人第一支店（106）  普通 1344513　
株式会社CAMPS有田川 ｶ)ｷｬﾝﾌﾟｽｱﾘﾀﾞｶﾞﾜ
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>商品の性質上、お客様の都合による返品・返金はお受けできません。不良品・注文商品と異なる場合は交換します。交換該当商品が欠品している場合に限り返金します。 商品は10度以下に保管いただいた状態のままクール便（送料着払い）にて弊社までご返送ください。
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd>発送から1週間以内に必ず商品をお受け取りください。1週間以上の長期ご不在、受け取り拒否等で商品が弊社に返送された場合、お客様に別途送料を申し受けます。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">樽サイズ</label>
                        </dt>
                        <dd>
15Lケグサイズ①直径280mm/高さ365mm<br>
15Lケグサイズ②直径230mm/高さ485mm<br>
10Lケグのサイズ直径230mm/高さ365mm<br>
20Lケグサイズ直径280mm/高さ445mm
</dd>
</dl>
                    <dl>
                        <dt>
                            <label class="ec-label">ヘッドスタイル</label>
                        </dt>
                        <dd>
ヘッドはSankey Sタイプ、アサヒ・サッポロと共通です。
</dd>
</dl>
                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ受付</label>
                        </dt>
                        <dd>メール:sales@nomcraft.beer<br>
電話:07042115114<br>
電話での受付時間:10時〜17時（不定休）

</dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>
{% endblock %}