{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
<div class="ec-pageHeader">
<h1> {{ 'front.tradelaw.title'|trans }}</h1>
</div>
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell">
<div class="ec-borderedDefs">
<dl>
<dt>
<label class="ec-label">販売業者</label>
</dt>
<dd>合同会社高知カンパーニュブルワリー</dd>
</dl>
<dl>
<dt>
<label class="ec-label">代表責任者</label>
</dt>
<dd>瀬戸口信弥</dd>
</dl>
<dl>
<dt>
<label class="ec-label">所在地</label>
</dt>
7820039       高知県香美市土佐山田町栄町2番29号
</dl>

<dl>
<dt>
<label class="ec-label">電話番号</label>
</dt>
<dd>09066633212</dd>
</dl>

<dl>
<dt>
<label class="ec-label">メールアドレス</label>
</dt>
<dd><a href="mailto:info@tosaco-brewing.com">info@tosaco-brewing.com</a></dd>
</dl>

<dl>
<dt>
<label class="ec-label">URL</label>
</dt>
<dd><a href="https://tosaco-brewing.bestbeerjapan.com">https://tosaco-brewing.bestbeerjapan.com</a></dd>
</dl>

<dl>
<dt>
<label class="ec-label">樽サイズ</label>
</dt>
<dd>


10Lケグサイズ  直径25cm*高さ30cm<br>
15Lケグサイズ  直径25cm*高さ40cm
</dd>
</dl>

<dl>
<dt>
<label class="ec-label">瓶サイズ</label>
</dt>
<dd>330ml</dd>
</dl>

<dl>
<dt>
<label class="ec-label">商品代金以外の必要料金</label>
</dt>
<dd>消費税、送料</dd>
</dl>

<dl>
<dt>
<label class="ec-label">引き渡し時期</label>
</dt>
<dd>ご注文確認後、５営業日以内(年末年始除く毎週木曜日)に商品を発送できる様に努めます。毎週木曜日が出荷日のため、前週木曜日までの受注分から優先して出荷いたします。 在庫がある場合には即日出荷する場合もあります。<br>運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。
</dl>

<dl>
<dt>
<label class="ec-label">お支払方法</label>
</dt>
<dd>請求書払い、代金引換（日本郵便・ゆうパック）<br>
楽天銀行　第二営業支店　普通 7725944  ﾄﾞ）ｺｳﾁｶﾝﾊﾟｰﾆｭﾌﾞﾙﾜﾘｰ<br>
四国銀行  山田支店  普通 5165907  ﾄﾞ）ｺｳﾁｶﾝﾊﾟｰﾆｭﾌﾞﾙﾜﾘｰ<br>
ゆうちょ銀行（同一銀行間）  16490  普通 13286251  ﾄﾞ）ｺｳﾁｶﾝﾊﾟｰﾆｭﾌﾞﾙﾜﾘｰ<br>
ゆうちょ銀行（他行宛て） 六四八  普通 1328625  ﾄﾞ）ｺｳﾁｶﾝﾊﾟｰﾆｭﾌﾞﾙﾜﾘｰ<br></dd>"
</dd>
</dl>
<dl>
<dt>
<label class="ec-label">返品・交換について</label>
</dt>
<dd>商品の性質上、お客様の都合による返品・返金はお受けできません。不良品・注文商品と異なる場合は交換します。交換該当商品が欠品している場合に限り返金します。 商品は10度以下に保管いただいた状態のままクール便（送料着払い）にて弊社までご返送ください。</dd>
</dl>
<dl>
<dt>
<label class="ec-label">返品期限</label>
</dt>
<dd>発送から1週間以内に必ず商品をお受け取りください。1週間以上の長期ご不在、受け取り拒否等で商品が弊社に返送された場合、お客様に別途送料を申し受けます。</dd>
</dl>

<dl>
<dt>
<label class="ec-label">問い合わせ受付</label>
</dt>
<dd>メール: info@tosaco-brewing.com
<br>電話番号:09066633212
<br>電話での受付時間: 月〜金曜日 9時〜17時（年末年始、祝日を除く）
</dd>
</dl>


</div>
</div>
</div>
</div>
{% endblock %}