{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>VERTERE合同会社</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>鈴木 光</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>東京都西多摩郡奥多摩町氷川212</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>0428858590</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@verterebrew.com">info@verterebrew.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">注文方法について</label>
                        </dt>
                        <dd><p>VERTEREは少人数で醸造や出荷作業、カフェ営業を行なっております。<br/>注文の受け間違いを防ぐために電話やファックスによる注文は承っておりません。</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>
<p>
＜都内＞代引き、銀行振込<br/>
＜都外＞銀行振込
</p>
<br/>
<p>
銀行振込は末締め翌月末支払いとなっております。振込手数料はお客様のご負担になります。
上記以外のお支払い方法（クレジットカード払い・口座引落等）はございません。
</p>

                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品について</label>
                        </dt>
                        <dd>
<h4 style="display: block; width: 50%; padding: 5px; background-color: whitesmoke;">15L 樽</h4>
<p>
容量15L 要冷蔵<br />
樽のサイズ 径239mm　高さ443mm<br />
ディスペンサーヘッドはサンキーSです。<br />
賞味期限は充填日から60日〜90日<br />
発送・返却に関わる運賃はお客様負担とさせていただきます。（下記の価格表をご確認ください。）<br />
使用後速やかにご返送ください。<br />
<br />
＊弊社商品は無濾過です。はじめにタップから濁り(酵母)が出てくることがあります。ご了承くださいませ。
</p>

<h4 style="display: block; width: 50%; padding: 5px; background-color: whitesmoke;">19L 樽</h4>
<p>
容量19L 要冷蔵<br />
樽のサイズ 径250mm　高さ593mm<br />
ディスペンサーヘッドはサンキーSです。<br />
賞味期限は充填日から60日〜90日<br />
発送・返却に関わる運賃はお客様負担とさせていただきます。（下記の価格表をご確認ください。）<br />
使用後速やかにご返送ください。<br />
<br />
＊弊社商品は無濾過です。はじめにタップから濁り(酵母)が出てくることがあります。ご了承くださいませ。
</p>

<h4 style="display: block; width: 50%; padding: 5px; background-color: whitesmoke;">缶商品</h4>
<p>
容量500ml 要冷蔵<br />
販売単位24本<br />
賞味期限は充填日から60日〜90日<br />
箱のサイズ（外寸）399mm×268mm×高さ173mm
</p>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">出荷日・引き渡し時期について</label>
                        </dt>
                        <dd>
                            <p>
                            東京都内は毎週木・金曜日、都外は毎週金曜日とさせていただきます。<br/>
                            出荷日に発送となるのは、前日の夕方１７時までに承った注文とさせていただき、商品の予約・取り置きはできません。<br/><br/>
                            運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。
                            </p>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">クール便　配送料について（税込）</label>
                        </dt>
                        <dd>
<img src={{asset('assets/img/about/postage_list.png', 'user_data')}} />
＊東京都内のみ自社配送を実施しております。<br/>

<p>
＜都内のみ＞<br/>
1樽　送料1000円(税込)<br/>
2樽以上　送料無料<br/>
缶1ケース　送料1000円(税込)<br/>
缶2ケース以上　送料無料<br/>
1樽と1ケース注文　送料無料
</p>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>請求書払い（月末締め翌月払い）</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd><p>商品の性質上、お客様の都合による返品・返金はお受けできません。不良品・注文商品と異なる場合は交換します。交換該当商品が欠品している場合に限り返金します。 商品は10度以下に保管いただいた状態のままクール便（送料着払い）にて弊社までご返送ください。</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd><p>発送から1週間以内に必ず商品をお受け取りください。1週間以上の長期ご不在、受け取り拒否等で商品が弊社に返送された場合、お客様に別途送料を申し受けます。</p></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">樽の返却について</label>
                        </dt>
                        <dd>
<p>
空樽　返送先住所<br/>
198-0212 東京都西多摩郡奥多摩町氷川212<br/>
VERTERE合同会社<br/>
TEL 0428-85-8590<br/>
</p>
<h4 style="display: block; width: 50%; padding: 5px; background-color: whitesmoke;">都内</h4>
<p>
次回自社便でご注文時に弊社スタッフが回収いたします。<br/>
商品到着後2ヶ月以上次回の発注がない場合は上記住所まで元払いにてお送りください。<br/>
※着払いはお引き受けできません。<br/>
</p>
<br/>
<p>
※出荷後3ヶ月以上経過しても樽の返却がない場合はご連絡いたします。<br/>
それでもご返却いただけない場合は別途費用請求させていただきます。<br/>
(紛失時のトラブルを防ぐため必ず元払い伝票を保管ください)<br/>
<br/>
※樽本体に運送伝票・テープは貼らないでください。
</p>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ受付</label>
                        </dt>
                        <dd>メール: info@verterebrew.com<br>
電話: 0428858590<br>
電話での受付時間:月～金曜日 9時30分から18時30分(年末年始を除く)
</dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
{% endblock %}