{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>南信州ビール株式会社</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>本坊　和人</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>〒3994117 長野県駒ヶ根市赤穂759-447</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>0265817722</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:t-msbeer@ms-beer.co.jp">t-msbeer@ms-beer.co.jp</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://msbeer.bestbeerjapan.com">https://msbeer.bestbeerjapan.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">樽サイズ・ヘッドスタイル</label>
                        </dt>
                        <dd>10L<br>
直径250mm x 高さ300mm<br>
Sタイプ</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">瓶サイズ</label>
                        </dt>
                        <dd>330ml</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文確認後<br>
3営業日後<br>
(年末年始除く毎週月曜から金曜日)に商品を発送できる様に努めます。運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>請求書払い（月末締め翌月払い）, 代金引換（ヤマト運輸・宅急便コレクト）</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>商品の性質上、お客様の都合による返品・返金はお受けできません。不良品・注文商品と異なる場合は交換します。交換該当商品が欠品している場合に限り返金します。 商品は10度以下に保管いただいた状態のままクール便（送料着払い）にて弊社までご返送ください。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd>発送から1週間以内に必ず商品をお受け取りください。1週間以上の長期ご不在、受け取り拒否等で商品が弊社に返送された場合、お客様に別途送料を申し受けます。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ受付</label>
                        </dt>
                        <dd>メール: t-msbeer@ms-beer.co.jp<br>
電話: 0265817722<br>
電話での受付時間: 月曜日～土曜日の9時〜17時
</dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>
{% endblock %}