{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>（株）ファニーボーン　BEER BRAIN BREWERY</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>福間　仁</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>千葉県柏市若柴226-42 中央144街区2 D棟</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>07033400852</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:beerbrain_brewery@funnybone.co.jp">beerbrain_brewery@funnybone.co.jp</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="http://order.tbb.works/">http://order.tbb.works/</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料、振込手数料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文確認後、翌営業日(年末年始除く毎週月曜から金曜日)に商品を発送できる様に努めます。運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>請求書払い（月末締め翌月払い）, 代金引換（佐川急便・e-コレクト®）<br>

三菱UFJ銀行　表参道支店、普通　1900796　株式会社ファニーボーン
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>お問い合わせ願います</dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">樽サイズ</label>
                        </dt>
                        <dd>
樽15L 高さ46cm、直径24cm<br>
樽10L36.5cm、直径24cm
                            </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">ヘッドスタイル</label>
                        </dt>
                        <dd>
Sカプラー
                            </dd>
                    </dl>


                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ受付</label>
                        </dt>
                        <dd>メール:beerbrain_brewery@funnybone.co.jp<br>
電話：07033400852<br>
電話での受付時間:<br>
火～金曜日 15時から22時、土日祝日　13時〜20時(年末年始を除く)<br>
Tue-Fri15:00-22:00, Sat, Sun and Holiday 13:00-20:00

</dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>
{% endblock %}