{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>合同会社Marca</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>神谷みずき</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>5500014 大阪市西区北堀江3-7-28 1F</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>0667109487</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@beermarca.com">info@beermarca.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://marcabrewing.bestbeerjapan.com">https://marcabrewing.bestbeerjapan.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税、送料</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文確認後、原則翌営業日(年末年始除く)以内に商品を発送できる様に努めます。運送中の商品破損による再発送、天候や道路事情など、不測の事態による遅配はご容赦下さい。なお、ご注文をお受けできない場合は、その旨のご連絡をいたします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>請求書払い（月末締め翌月払い）<br>

ジャパンネット銀行　すずめ支店 普通　1434325　合同会社Marca
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>商品の性質上、お客様の都合による返品・返金はお受けできません。不良品・注文商品と異なる場合は交換します。交換該当商品が欠品している場合に限り返金します。 商品は10度以下に保管いただいた状態のままクール便（送料着払い）にて弊社までご返送ください。<br>

※1週間以上の長期ご不在、受け取り拒否等で商品が弊社に返送された場合、お客様に別途送料を申し受けます。
</dd>
                    </dl>


                    <dl>
                        <dt>
                            <label class="ec-label">樽サイズ</label>
                        </dt>
                        <dd>
                            10L＝直径280mm高さ280mm<br>
10L=直径240mm高さ330mm<br>
15L=直径230mm高さ470mm<br>
15L=直径240mm高さ450m「※レン樽」対応も可能<br>

※レン樽対応エリア　　　　　　○東北・関東・中部・近畿・中国の5地方（本州）<br>
　　　　　　　　　　　　　　　✖北海道・四国・九州・沖縄を除く　<br>

<br>
</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">ヘッドスタイル</label>
                        </dt>
                        <dd>
                            サンキーS
</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ受付</label>
                        </dt>
                        <dd>メール: info@beermarca.com
</dd>
                    </dl>


                </div>
            </div>
        </div>
    </div>
{% endblock %}