<div class="ec-role">
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell" style="margin-top: 20px">
<span style="color: black">【重要：送料に関して、オーダー前に必ずご確認くださいませ】</span>
<h3 style="width: 100%; background-color: lightgray; padding: 10px;">配送料一覧（常温）</h3>
<img src="{{ asset('assets/img/top/shippingT1.png','user_data') }}" style="margin: 0 auto; width: 100%;">
<h3 style="width: 100%; background-color: lightgray; padding: 10px;">配送料一覧（チルド）</h3>
<img src="{{ asset('assets/img/top/shippingT2.png','user_data') }}" style="margin: 0 auto; width: 100%;">