<div class="ec-role">
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell" style="margin-top: 20px">
            <span style="color: salmon">【重要：出荷と送料に関して、オーダー前に必ずご確認くださいませ】</span>
            <h3 style="width: 100%; background-color: lightgray; padding: 10px;">送料（10L）</h3>
            <img src="{{ asset('assets/img/top/postage-10l.png','user_data') }}" style="margin: 0 auto; width: 100%;">
            <h3 style="width: 100%; background-color: lightgray; padding: 10px;">送料（15L）</h3>
            <img src="{{ asset('assets/img/top/postage-15l.png','user_data') }}" style="margin: 0 auto; width: 100%;">
            <h3 style="width: 100%; background-color: lightgray; padding: 10px;">送料（24本）</h3>
            <img src="{{ asset('assets/img/top/postage-24bottles.png','user_data') }}" style="margin: 0 auto; width: 100%;">




        </div>
    </div>
</div>