<div class="ec-role">
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell" style="margin-top: 20px">
<span style="color: black">【はじめにお読みください】受注方法について<br> 
いつも南信州ビールをご支援いただきありがとうございます。本サイトの受注・取引方法についてご案内いたします。</span>
　<br>
<img src="{{ asset('assets/img/top/postage-1.png','user_data') }}" style="margin: 0 auto; width: 100%;">
<img src="{{ asset('assets/img/top/postage-2.png','user_data') }}" style="margin: 0 auto; width: 100%;">


<div class="ec-role">
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell" style="margin-top: 50px">
<a href="https://docs.google.com/presentation/d/1nRRd89od_a7mMAKPskXB0IfvC3tAfiOECLuDQ7gDIFU/edit#slide=id.p">新規申込・取引の流れについてはこちら</a></span>

</div>
</div>
</div>