<div class="ec-role">
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell" style="margin-top: 20px">
            <span style="color: salmon">【重要：出荷と送料に関して、オーダー前に必ずご確認くださいませ】</span>
            <img src="{{ asset('assets/img/top/postage.png','user_data') }}" style="margin: 0 auto; width: 100%;">
        </div>
    </div>
</div>