<div class="ec-role">
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell" style="margin-top: 20px">
            <span style="color: salmon">【重要：出荷と送料に関して、オーダー前に必ずご確認くださいませ】</span>
            <ul style="margin-top: 20px">
                <li>東京都内 自社配送　毎週　木曜日と金曜日 (お日にちはお選びいただけません。)</li>
                <li>東京以外 佐川急便　毎週　金曜日出荷</li>
            </ul>
            商品購入時に送料0円と表記されますが、<span style="font-weight: bold">別途計算の上ご請求いたしますのでご注意くださいませ。</span><br>
            <br>
            <img src={{asset('assets/img/about/postage_list.png', 'user_data')}} />
        </div>
    </div>
</div>