<div class="ec-role">
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell" style="margin-top: 50px">
<span style="color: red">【重要：商品の購入の前にご確認ください。】<br> 
商品の配送料について
現在、配送料の計算システム構築中により、商品ご購入時に送料が0円で計算されます。
実際には樽1本につき、下記送料（税込）が掛かります。
ご注文完了後、弊社にて送料の加算を行いますので、ご注意ください。</span>
<h3 style="width: 100%; background-color: lightgray; padding: 20px;">業務用【15L樽】　配送料一覧　　＜チルド＞</h3>
<img src="{{ asset('assets/img/top/postage-15l.png','user_data') }}" style="margin: 0 auto; width: 100%;">
<div class="ec-role">
<div class="ec-off1Grid">
<div class="ec-off1Grid__cell" style="margin-top: 50px">
<span style="color: black">【お願い：空樽のご返却について】<br> 
空樽の早期ご返却のご協力をお願い致します。<br> 
■空樽返送先<br> 
宮崎ひでじビール株式会社　宛て<br> 
〒882-0077　宮崎県延岡市行縢町747-58<br> 
TEL：0982-39-0090<br> 


※空樽返送費についてはお客様のご負担にてお願い致します。<br> 
※着払いは受け付けられませんのでご注意ください。<br> 
※返送いただく際、運送会社の送り状の樽本体への貼り付けはお控えください。<br> 
※空樽未返却が2ヶ月を過ぎます場合は、事前連絡をお願いします。<br> 
※回収期限切れ樽保証料：1樽あたり15,000円（税別）</span>
</div>
</div>
</div>